%html
  %head
    %title Vividees
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .menu
      .menuTab
        %h1 Vividées
      .menuTab
        -if current_user
          =link_to 'Mon vivier', user_path(current_user)
          =link_to 'Mes informations', edit_user_registration_path
          =link_to 'Déconnexion', destroy_user_session_path, method: :delete

        -else
          =link_to 'Connexion', new_user_session_path
    %p.notice
      = notice
    %p.alert
      = alert
    =yield
